@import 'components/header';
@import 'components/main.scss';
@import 'components/productos';
@import 'components/footer';
@import 'base/colors';


/*variables*/
$colorbg: rgba(46, 44, 44, 0.775);
$color-principal:black;
$color-secundario:#fff;

$medida-pricipal:200px;


/*nesting*/

h1{
    color: black;
}


p{
    background-color:$color-principal ;
    color:$color-secundario ;
}    
h2{
    
        color: #fff;
        font-size: 2rem;
    }

p{
    background-color:$color-secundario;
    color:$color-secundario ;
}
.btn {
	color: #0094db;
}
.video-contenedor {
	position: relative;
	padding-bottom: 70%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.main.sass{
    background-color:$color-secundario ;
}
.title{
    display: flex;
    justify-content: center;
    background-color:$colorbg ;
}